*{
    text-align: center;
}

body{
   
  
}

.title{
    font-size: 50px;
    
    background: linear-gradient(to bottom right, #ff2347, #ff9c08, #e630e6, #44b8ee);
    -webkit-background-clip: text;
    color: transparent;

}

.my-div{
   padding-top: 80px;
}
