<div class="container-fluid">
    <form name="form" #f="ngForm" (ngSubmit)="f.form.valid && onSubmit()">
      <table class="inputs-field" *ngIf="!show">
        <label for="">Definire Intervalli:</label>
        <tr>
          <label for=""> A </label>
          <input [(ngModel)]="form.boundA" type="number" class="form-control mx-2 bounds-inputs" name="boundA" required>
        </tr>
        <tr>
          <label for=""> B </label>
          <input [(ngModel)]="form.boundB" type="number" class="form-control mx-2 bounds-inputs" name="boundB" required>
        </tr>
      </table>


      <div class="inputs-field">
          <div class="my-2">
            <label for="" *ngIf="!show && form.function =='' ">Inserire la funzione da <br>approssimare</label> 
          </div>
          <button class="btn btn-warning" (click)="show=!show" *ngIf="!show">mostra tastiera</button>

          <button class="btn btn-warning my-2" (click)="show=!show" *ngIf="show">nascondi tastiera</button>
          <app-calculator *ngIf="show" (inputFunction)="updateChosenFunction($event)"></app-calculator>
          <div class="my-3" *ngIf="!show && form.function !='' ">
            <label for="">funzione scelta:</label>
            <input [(ngModel)]="form.function" type="text" class="form-control" [value]="form.function" name="function" required disabled>
          </div>  
      </div>

      <div *ngIf="!show">
        <mat-button-toggle-group name="methods" [(ngModel)]="form.method">
          <mat-button-toggle name="method" value="Rectangles"  id="Rectangles">Rettangoli</mat-button-toggle>
          
          <mat-button-toggle name="method" value="Triangles"  id="Triangles">Triangoli</mat-button-toggle>

          <mat-button-toggle name="method" value="Parables"  id="Parables">Parabole</mat-button-toggle>
        </mat-button-toggle-group>
      </div>
      
      <div class="inputs-field" *ngIf="!show">
        <button type="submit" class="btn btn-outline-custom">INVIA</button>
      </div>
    </form>
</div>
